.food-card {
    background-color: #FFFAF9;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column; /* Vertikális elrendezés */
    align-items: center; /* Vízszintesen középre */
    justify-content: space-between; /* Függőlegesen középre */
    border-width: 1px;
    border-style: solid;
    border-color: #301909;
    cursor: pointer;
}

.food-card:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


.food-card-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: #301909;
    line-height: 120%;
    font-family: "M PLUS 1p", serif;
    font-weight: 900;
    font-style: normal;
    padding: 0 10px 0 20px;
    width: 100%;

}


.food-card-ing-add-inf-container{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 20px;
}

.food-card-ingr-container{
    padding: 10px 0 10px 0;
}

.food-card-add-inf-container{
    padding: 10px 0 20px 0;
}

.food-card-ingr-title{
    font-size: 20px;
    color: #301909;
    font-family: "M PLUS 1p", serif;
    font-weight: 500;
    font-style: normal;
}

.food-card-ingr-text {
    font-size: 15px;
    color: #301909;
    font-family: "M PLUS 1p", serif;
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word; /* Tördelés hosszú szavaknál */
    white-space: normal; /* Sortörés engedélyezése */
    overflow-wrap: break-word; /* Tördelés hosszú szavaknál (modern böngészők) */
    max-width: 200px;
}


.food-img{
    width: 5rem;
    height: 5rem;
}
